.btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
  margin: 3px 3px;
}

/* Variants */
.primary {
  background: #0B6FF0;
  color: white;
}

.secondary {
  background: #e5e7eb;
  color: #111827;
}

.outline {
  border: 1px solid #6b7280;
  background: transparent;
  color: #374151;
}

/* Sizes */
.sm {
  padding: 6px 12px;
  font-size: 14px;
}

.md {
  padding: 10px 16px;
  font-size: 15px;
}

.lg {
  padding: 14px 22px;
  font-size: 17px;
}
