.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  border: 1px solid #e5e7eb;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 15px;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
